
@{
    ViewBag.Title = "Delete Channel";
}

<h2>Delete Channel</h2>
<h1>Are you Sure to delete?</h1>
<h3>@Model.ChannelName</h3>
<h3>@Model.EstablishedYear</h3>
<h3>@Model.Country</h3>


<form method="post">
    <input type="hidden" name="ChannelId" value="@Model.ChannelId" />
    <input type="submit" value="Yes" name="dcsn" class="btn btn-danger" />
    <input type="submit" value="No" name="dcsn" class="btn btn-warning" />
</form>

