
@{
    ViewBag.Title = "Detail of Channels";
}

<h2>Channel Details</h2>
<h5>Channel Id: @Model.ChannelId</h5>
<h5>Channel Name: @Model.ChannelName</h5>
<h5>Established Year: @Model.EstablishedYear</h5>
<h5>Country: @Model.Country</h5>


