
@{
    ViewBag.Title = "Edit Channel";
}

<h2>Edit Channel</h2>
<form method="post">
    <input type="hidden" name="ChannelId" value="@Model.ChannelId" />
    <input type="text" name="ChannelName" value="@Model.ChannelName" class="form-control" placeholder="ChannelName" />
    <input type="text" name="EstablishedYear" value="@Model.EstablishedYear" class="form-control" placeholder="EstablishedYear" />
    <input type="text" name="Country" value="@Model.Country" class="form-control" placeholder="Country" />
    <input type="submit" value="Update" class="btn btn-success" />
</form>
