
@{
    ViewBag.Title = "List of Channels";
}

<h2> Channel List</h2>

<a href="/channel/create" class="btn btn-primary">Create Channel</a>

<table class="table table-bordered">
    <tr>
        <th>Channel Id</th>
        <th>Channel Name</th>
        <th>Established Year</th>
        <th>Country</th>
        <th></th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.ChannelId</td>
            <td>@c.ChannelName</td>
            <td>@c.EstablishedYear</td>
            <td>@c.Country</td>
            <td>
                <a href="/channel/details/@c.ChannelId" class="btn btn-info">Details</a>
                <a href="/channel/edit/@c.ChannelId" class="btn btn-warning">Edit</a>
                <a href="/channel/delete/@c.ChannelId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>